.btnDiv{
    display: flex;
    width: 45%;
    height: 50px;
    justify-content: space-between;
    border-radius: 15px;
    border-bottom: 1px solid #b6b6b6;
    border-top: 1px solid #b6b6b6;
    align-items: center;
    box-sizing: border-box;
}
.btn{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #b6b6b6;
    align-items: center;
    vertical-align: center;
    transition: all .3s ease;
    font: inherit;
    font-size: 40px;    

}
.btn:hover{
    background: #fff;
}
.text{
    font-size: 25px;
}