

.card{
    width: 23%;
    border: 1px solid rgba(128,128,128, 0.7);
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    background: white;
    box-shadow: 5px 5px 10px grey;
    transition: all .3s ease;
}
.img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    transition: all .3s ease;
}
.img:hover{
    width: 115%;
    height: 230px;


}
.imgDiv{
    height: 200px;
    position: relative;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.weight{
    width: 70px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: white;
    font-weight: bold;
    background: rgba(1,1,1,50%);
    border-radius: 10px;
    text-align: center;
    padding: 2px;


}
.card:hover{
    box-shadow: 10px 10px 10px rgba(128,128,128, 0.7);
}
.card:hover img{
    width: 115%;
    height: 230px;
}
.name{
    font-weight: 500;
    font-size: 18px;
}

.ing{
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 20px;
    height: 50px;
}

.chooser{
    width: 100%;
    background: #efefef;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 5px;
    gap: 10px;
}
.choose2{
    width: 45%;
    border-radius: 20px;
    text-align: center;
    outline: none;
}
.choose1:hover{
    cursor: pointer;
}
.choose2:hover{
    cursor: pointer;
}
.choose1 {
    width: 30%;
    border-radius: 20px;
    text-align: center;
}
.choosed1{
    width: 30%;
    border-radius: 20px;
    text-align: center;
    background: #bdbcbc;
}

.choosed2{
    width: 45%;
    border-radius: 20px;
    text-align: center;
    background: #bdbcbc;
}
.lastDiv{
    display: flex;
    justify-content: space-between;
}
.lastDiv > p{
    font-size: 18px;
    font-weight: 700;
}
.lastDiv > p > span{
    font-size: 14px;
    font-weight: 500;
}

