.btn{
    width: 45%;
    height: 50px;
    background: #e31837;
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-align: center;
    align-items: center;
    vertical-align: center;
    line-height: 50px;
    border-radius: 15px;
}
.btn:hover{
    cursor: pointer;
}