.header{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    margin-bottom: 50px;

}
.maineDiv{
    background: #663300;
    padding: 0 20px;
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;

}
.maineDivScroll{
    background: rgba(102,51,0,0.7);
    padding: 0 20px;
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.imgBlock{
    width: 25%;
    align-items: center;
    text-align: center;
}
.img{
    width: 120px;
    height: 120px;
}
.navigationBlock{
    width: 50%;
    display: flex;
    justify-content: space-around;

}
.nav{
    color: white;
    font-size: 26px;
    font-weight: 400;
    text-decoration: none;
}
.navigationBlock.active{
    color: red;
}

.busket{
    width: 25%;
    text-align: center;
}