
.card{
    width: 23%;
    border: 1px solid rgba(128,128,128, 0.7);
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    background: white;
    box-shadow: 5px 5px 10px grey;
    transition: all .3s ease;
}

.img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    transition: all .3s ease;
    position: absolute;
    left: 10px;
    top: -40px;
}


.imgDiv{
    height: 200px;
    position: relative;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
}
.card:hover{
    box-shadow: 10px 10px 10px rgba(128,128,128, 0.7);
}
.card:hover img{
    width: 115%;
    height: 330px;
    top: -50px;
    left: -15px;
}
.name{
    font-weight: 500;
    font-size: 18px;
}
.lastDiv{
    display: flex;
    justify-content: space-between;
}
.lastDiv > p{
    font-size: 20px;
    font-weight: 700;
}
.lastDiv > p > span{
    font-size: 16px;
    font-weight: 500;
}
.volume{
    margin: 0 auto;
    width: 90%;
    border: 1px solid grey;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    background: grey;
    text-align: center;
    font-size: 30px;
    color: white;
}